<div>
    <div class="my-poke-tittle">
        <span class="tittle-list">Mis Pokémon</span>
        <button class="button-profile">
            <img src="assets/edit.svg" />
            <span>Editar</span>
        </button>
    </div>
    <div class="my-pokemon-list">

        @for (pokemon of pokemonResults(); track pokemon.attack) {
        <div class="card-my-poke">
            <div class="image">
                <img [src]="pokemon.url" />
                <span class="poke-name">{{pokemon.name}}</span>
                <span class="poke-type">{{pokemon.type}}</span>
            </div>
            <div class="stats-container">
                <div class="stats-card">
                    <div class="stats-text">
                        HP
                    </div>
                    <div class="progess-card">
                        <div class="progress-container">
                            <div class="progress-bar" [style.--progress]="pokemon.hp + '%'"
                                [style.--color-type]="cardColor(pokemon.type)"></div>
                        </div>
                    </div>
                    <div class="stats-text">
                        Ataque
                    </div>
                    <div class="progess-card">
                        <div class="progress-container">
                            <div class="progress-bar" [style.--progress]="pokemon.attack + '%'"
                                [style.--color-type]="cardColor(pokemon.type)"></div>
                        </div>
                    </div>
                    <div class="stats-text">
                        Defensa
                    </div>
                    <div class="progess-card">
                        <div class="progress-container">
                            <div class="progress-bar" [style.--progress]="pokemon.defense + '%'"
                                [style.--color-type]="cardColor(pokemon.type)"></div>
                        </div>
                    </div>

                    <div class="stats-text">
                        Ataque Especial
                    </div>
                    <div class="progess-card">
                        <div class="progress-container">
                            <div class="progress-bar" [style.--progress]="pokemon.specialAttack + '%'"
                                [style.--color-type]="cardColor(pokemon.type)"></div>
                        </div>
                    </div>
                    <div class="stats-text">
                        Defensa Especial
                    </div>
                    <div class="progess-card">
                        <div class="progress-container">
                            <div class="progress-bar" [style.--progress]="pokemon.specialDefense + '%'"
                                [style.--color-type]="cardColor(pokemon.type)"></div>
                        </div>
                    </div>
                    <div class="stats-text">
                        Velocidad
                    </div>
                    <div class="progess-card">
                        <div class="progress-container">
                            <div class="progress-bar" [style.--progress]="pokemon.speed + '%'"
                                [style.--color-type]="cardColor(pokemon.type)"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        }

    </div>
</div>