.card-container {
    width: 392px;
    height: 600px;
    background-color: #FFC600;
    border-radius: 50px;
    padding: 16px 8px;
    margin-top: 80px;
}

.title-card {
    font-size: 30px;
}

.card-container .text {
    width: 100%;
    text-align: center;
    margin-top: 56px;
}

.card-photo {
    width: 269px;
    height: 269px;
    border: 14px #fff;
    background-color: #fff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 55px;
    margin-left: 60px;
}

.card-photo-container {
    width: 240px;
    height: 240px;
    border-radius: 50%;
    background-color: #E7EFF5;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.photo {
    width: 100px;
}

.upload {
    margin-top: 50px;
    margin-left: 25px;
}

.title-name {
    font-weight: 700;
    font-size: 35px;
    color: rgba(24, 90, 125, 1)
}


.upload div {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 90%;
}

.tittle-detail {
    font-weight: 700;
    font-size: 24px;
    color: rgba(75, 75, 75, 1);
}


.tittle-text {
    font-weight: 400;
    font-size: 24px;

}

.text {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.card-photo-container .has-image {
    background-color: transparent;
    border: none;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.photo-upload {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.trainer{
    font-size: 24px;
}