<div>
    <div class="text-pokemon-container">
        <span class="pokemon-tittle">Pokémon</span>
        <span class="pokemon-sub-tittle">Selecciona 3 Pokémon para que sean parte de tu equipo</span>
    </div>
    <div class="search-input-container">
        <img src="assets/search-icon.svg" class="search-icon" />
        <input class="search-pokemon" placeholder="Buscar por índice, nombre..." />
    </div>
    <div class="card-pokemon-continaer-list">
        <app-poke-card></app-poke-card>
        <app-poke-card></app-poke-card>
        <app-poke-card></app-poke-card>
        <app-poke-card></app-poke-card>
        <app-poke-card></app-poke-card>
        <app-poke-card></app-poke-card>
        <app-poke-card></app-poke-card>
        <app-poke-card></app-poke-card>
        <app-poke-card></app-poke-card>
    </div>
    <div class="save-cont-button">
        <button class="button-disable">Guardar</button>
    </div>
</div>