<div>
    <div class="text-pokemon-container">
        <span class="pokemon-tittle">Pokémon</span>
        <span class="pokemon-sub-tittle">Selecciona 3 Pokémon para que sean parte de tu equipo</span>
    </div>
    <div class="search-input-container">
        <img src="assets/search-icon.svg" class="search-icon" />
        <input class="search-pokemon" placeholder="Buscar por índice, nombre..." />
    </div>
    <cdk-virtual-scroll-viewport itemSize="50" class="example-viewport">
        <div class="card-pokemon-continaer-list">
            <div *cdkVirtualFor="let p of filteredPokemon()">
                <app-poke-card [id]="p.id" [name]="p.name" [img]="p.image"></app-poke-card>
            </div>
        </div>
    </cdk-virtual-scroll-viewport>
    <div class="save-cont-button" (click)="save()">
        <button class="button-disable" [class.enable-button]="enabledButton()">Guardar</button>
    </div>
</div>