<div class="container-profile">
    @if (load()) {
        <app-loading></app-loading>
    }
    <div [class.loading-blur]="load()" class="header-saludo">
        <span class="nombre-saludo"  [class.loading-blur]="load()">{{'¡Hola ' +profileStats.nombre() + '!'}}</span>
        <button class="button-profile"  [class.loading-blur]="load()">
            <img src="assets/edit.svg" />
            <span>Editar perfil</span>
        </button>
    </div>
    <app-card-profile [class.loading-blur]="load()"></app-card-profile>
    <app-my-pokemon [class.loading-blur]="load()"></app-my-pokemon>

</div>